@import "./../../App.less";

.main-container {
  display: flex;
  flex-direction: column;
  height: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin: 1.5em 0.5em;
}

.phoneInput {
  margin: 1em 2em 0.3em 2em;
  height: @size-1rem + @size-1rem;
  border: none;
  outline: none;
}

.form-container span {
  font-size: 0.6rem;
  color: @color-first;
  padding-left: 2.5em;
  font-family: "Poppins", sans-serif;
}

.user-info-card-display {
  display: flex;
  flex-direction: column;
}

.submition-message {
  height: 5rem;
}

.react-datepicker__input-container input {
  height: 2em;
  width: 100%;
  border: none;
  border-bottom: 0.2em solid @color-second;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.react-datepicker__input-container input:focus {
  border-image: linear-gradient(to left, #00ccff, #cc33ff) 1;
  border-bottom: 0.3em solid;
}

.react-datepicker-wrapper {
  margin: 1em 1.5em;
}

div.react-datepicker {
  font-family: "Poppins", sans-serif;
  height: 300px;
}

div.react-datepicker__header {
  height: 90px;
}

div.react-datepicker__day-names {
  margin-top: 20px;
}

span.react-datepicker__year-read-view--down-arrow {
  color: blue;
}

span.react-datepicker__year-read-view--selected-year {
  padding: 0;
}

span.react-datepicker__year-read-view--down-arrow {
  padding: 0;
}

#root
  > div
  > div
  > form
  > div.react-datepicker__tab-loop
  > div.react-datepicker-popper
  > div
  > div
  > button.react-datepicker__navigation.react-datepicker__navigation--next {
  color: darkgoldenrod;
}

span.react-span {
  font-family: "Poppins", sans-serif;
  color: #999999;
  font-size: 0.9rem;
  font-weight: 400;
  padding-left: 1.6em;
}

button.button {
  margin-bottom: 5em;
}
