@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
html {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
body {
  background-color: #ffffff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.App {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
h1 {
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 2rem 0 1.5rem 0;
  font-size: 2rem;
}
p {
  font-weight: 300;
}
@media screen and (min-width: 800px) {
  body {
    background-color: #f9e6ff;
    display: flex;
    flex-direction: column;
  }
  body h1 {
    padding-top: 2rem;
  }
}
.form-input-container {
  margin: 1em 1.5em;
}
.form-input-container input {
  height: 2em;
  width: 100%;
  border: none;
  border-bottom: 0.2em solid #b3b3cc;
  outline: none;
  font-family: "Poppins", sans-serif;
}
.form-input-container input:focus {
  border-image: linear-gradient(to left, #00ccff, #cc33ff) 1;
  border-bottom: 0.3em solid;
}
.form-input-container input:focus :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "Poppins", sans-serif;
  color: #999999;
  font-size: 0.9rem;
  font-weight: 400;
}
.form-input-container input:focus ::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: "Poppins", sans-serif;
  color: #999999;
  font-size: 0.9rem;
  font-weight: 400;
}
.form-input-container input:focus ::placeholder {
  font-family: "Poppins", sans-serif;
  color: #999999;
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 1;
  /* Firefox */
}
@media screen and (min-width: 800px) {
  .form-input-container {
    margin: 1em 1.5em;
  }
  .form-input-container input {
    height: 2em;
    width: 100%;
    border: none;
    border-bottom: 0.2em solid #b3b3cc;
    outline: none;
    font-family: "Poppins", sans-serif;
  }
  .form-input-container input:focus {
    border-image: linear-gradient(to left, #00ccff, #cc33ff) 1;
    border-bottom: 0.3em solid;
  }
  .form-input-container input:focus :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: "Poppins", sans-serif;
    color: #999999;
    font-size: 0.9rem;
    font-weight: 400;
  }
  .form-input-container input:focus ::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: "Poppins", sans-serif;
    color: #999999;
    font-size: 0.9rem;
    font-weight: 400;
  }
  .form-input-container input:focus ::placeholder {
    font-family: "Poppins", sans-serif;
    color: #999999;
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 1;
    /* Firefox */
  }
}
/*# sourceMappingURL=formInput.css.map */