@import "./../../App.less";

.user-card-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 2em;
  height: 50%;
  margin: 2em 3.5em;
  word-break: break-all;
  &span {
    color: @color-third;
    font-weight: @main-font-weight;
    padding-left: 0.6em;
  }
  &h1 {
    font-size: 1.2rem;
    align-self: flex-start;
  }
  p {
    font-weight: @main-font-weight;
    margin: 0;
  }
  span {
    margin-left: @size-1em;
    color: @color-third;
  }
  p:last-child {
    color: @main-text-color;
    margin-top: 4em 0;
    border: 2px solid;
    border-image: @gradient-color;
    padding: 1em;
    text-align: center;
  }

  p:nth-child(7) {
    padding-bottom: 2em;
  }
}
